## This file contains the environment variables that are used in the application

# API Configuration
SERVER_PORT=3001

# DB Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=chatop
DB_USERNAME=root
DB_PASSWORD=chatop_bdd_password

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=AKIA5V6I7ET7CDSR6TNQ
AWS_SECRET_ACCESS_KEY=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
AWS_BUCKET_NAME=chatop-storage
AWS_REGION=eu-west-3