## This file contains the environment variables that are used in the application

# API Configuration
SERVER_PORT=3001

# DB Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=chatop
DB_USERNAME=root
DB_PASSWORD=chatop_bdd_password

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=your_region